*{
    font-family: "Open Sans", Helvetica, sans-serif; 
}

.bg-primary{
    background-color:  linear-gradient(hsl(300, 100%, 33%), hsl(212, 100%, 49%)) fixed;
}

.title{
    text-align: center;
    float: right;
    padding-top: 8%;
}

.pic{
    padding: 0;
    height: 100%;
    width: auto;
    float: left;
}

.bio{
    float: right;
    padding: 4% 5%;
}

