*{
    font-family: "Open Sans", Helvetica, sans-serif; 
    color: white;
}

body{
    height: calc(var(--vh, 1vh) * 100);
    background: linear-gradient(hsl(300, 100%, 33%), hsl(212, 100%, 49%)) fixed;
    background: -webkit-linear-gradient(hsl(300, 100%, 33%), hsl(212, 100%, 49%)) fixed;
    background-position: 0 56px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.intro{
    text-align: center;
    padding-top: 40vh;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}

.intTitle{
    font-size: 8vw;
    text-shadow: -.5vw 1vh black;
}

.title{
    text-align: center;
    float: right;
    padding-top: 12%;
}

.pic{
    padding: 0;
    margin-top: 2%;
    height: auto;
    width: auto;
    float: left;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: .5px .5px 25px black;
}

.bio{
    float: right;
    padding: 2% 5%;
}

@media (max-width: 950px){
    .title{
        padding-top: 0;
    }
}

.topPortfolio{
    padding-top: 150px;
}

.portLinks:hover{
    text-decoration-color: white;
}

.portfolioImg{
    border-radius: 5px;
}

.portfolioItem{
    padding-top: 50px;
}

.contact{
    text-align: center;
    padding-top: 150px;
}

.contactInfoList{
    list-style: none;
    padding: 5px;
}

.contactInfo{
    color: white;
}

.resumeHeader{
    margin-top: 50px;
    text-align: center;
}

.resume{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.resumeFooter{
    margin-top: 20px;
}

.myFooter{
    margin-top: 100px;
}


