*{
    font-family: "Open Sans", Helvetica, sans-serif; 
    color: white;
}

body{
    min-height: 100%;
    min-height: -webkit-fill-available;
    background: linear-gradient(hsl(300, 100%, 33%), hsl(212, 100%, 49%)) fixed;
    background-size: -webkit-fill-available;
}

html{
    height: -webkit-fill-available;
}

#nav{
    background-color: none;
    opacity: 100%;
}

.intro{
    text-align: center;
    padding-top: 40vh;
    height: 100vh;
    width: 100%;
}

.intTitle{
    font-size: 8vw;
    text-shadow: -5px 10px black;
}

.title{
    text-align: center;
    float: right;
    padding-top: 12%;
}

.aboutMe{
    margin: 0 0;
    padding: 0 0;
    height: 100vh;
    width: 100%;
}

.pic{
    padding: 0;
    margin-top: 2%;
    height: auto;
    width: auto;
    float: left;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: .25px .25px 15px black;
}

.bio{
    float: right;
    padding: 2% 5%;
}

@media (max-width: 950px){
    .title{
        padding-top: 0;
    }
}

.topPortfolio{
    clear: both;
    padding-top: 150px;
}

.portLinks:hover{
    text-decoration-color: white;
}

.portfolioImg{
    border-radius: 5px;
    box-shadow: .25px .25px 15px black;
}

.portfolioItem{
    padding-top: 50px;
}

.contact{
    text-align: center;
    padding-top: 150px;
}

.contactInfoList{
    list-style: none;
    padding: 5px;
}

.contactInfo{
    color: white;
}

.resumeHeader{
    margin-top: 50px;
    text-align: center;
}

.resume{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.resumeFooter{
    margin-top: 20px;
}

.myFooter{
    margin-top: 100px;
}


